/*********************** ************************/
/*************** CONTAINER RESULTS **************/
/*********************** ************************/

.containerResults {
    width: 100%;
    height: 200px;
    position: relative;
}

.containerTitle {
    height: 50px;
    width: 100%;
}

.containerContent {
    width: 300px;
    overflow: hidden;
    background-color: var(--title);
    position: absolute;
    height: 300px;
    top: 0px;
    border-radius: 50%;
    padding: 0rem .5rem .5rem .5rem;
    background: url('../assets/img/shield.png');
    background-size: cover;
    background-position: center;
}

.messageFight {
    text-align: center;
    width: 90%;
    font-size: 1.75rem;
    color: white;
}

.win {
    color: var(--win);
}

.lose {
    color: var(--lose);
}
/*********************** ************************/
/*************** CONTAINER FIGHTER **************/
/*********************** ************************/

.containerFight {
    width: 100%;
    height: calc(100vh - 10vh - 200px - 100px);
}

.containerFighter {
    width: 50%;
    height: 100%;
    position: relative;
}

.containerFighter img {
    width: 150px;
    position: absolute;
}

.fighterOne img {
    bottom: 22%;
    left: 45%;
    animation: translateFighterOne 2.5s ease;
}

@keyframes translateFighterOne {
    0% {
        left: -100px;
    }
    100% {
        left: 45%;
    }
}

.fighterTwo img {
    transform: scaleX(-1);
    bottom: 18%;
    right: 45%;
    animation: translateFighterTwo 2.5s ease;
}

@keyframes translateFighterTwo {
    0% {
        right: -100px;
    }
    100% {
        right: 45%;
    }
}

@media screen and (min-width: 1200px) {
    .containerFighter img {
        width: 250px;
        position: absolute;
    }
    
    .fighterOne img {
        bottom: 21%;
        left: 75%;
        animation: translateFighterOneDesktop 7s ease;
    }
    
    @keyframes translateFighterOneDesktop {
        0% {
            left: -100px;
        }
        100% {
            left: 75%;
        }
    }
    
    .fighterTwo img {
        transform: scaleX(-1);
        bottom: 16%;
        right: 75%;
        animation: translateFighterTwoDesktop 7s ease;
    }
    
    @keyframes translateFighterTwoDesktop {
        0% {
            right: -100px;
        }
        100% {
            right: 75%;
        }
    }
}

/*********************** ************************/
/**************** INPUT FUNCTION ****************/
/*********************** ************************/

.inputFunction {
    height: 100px;
    width: 100vw;
}

.triggerFight {
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: var(--button);
}

.triggerFight, .triggerFight p {
    cursor: pointer;
}

.hidden {
    display: none;
}