/*********************** ************************/
/**************** GLOBAL SETTINGS ***************/
/*********************** ************************/

:root {

    /* Primary Color */
    --title: #FF9300;
    --button: #2F2079;
    --lose: #B30E08;
    --win: #E6B325;

}

@font-face {
    font-family: 'Daenna';
    src: url('../assets/fonts/Deanna/Deanna.ttf');
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    background: url('../assets/img/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    height: 10vh;
    width: 100vw;
}

nav {
    height: 100%;
    width: 100%;
}

main {
    height: 90vh;
    width: 100vw;
}

/*********************** ************************/
/****************** FONT SETTINGS ***************/
/*********************** ************************/

h1 {
    font-size: 2rem;
    font-family: 'Daenna', sans-serif;
    color: white;
    background-color: var(--button);
    border-radius: 10px;
    padding: .35rem 1rem;
    text-transform: uppercase;
}

p {
    font-size: 1rem;
    font-family: 'Daenna', sans-serif;
    color: white;
}

.button {
    font-size: 1.5rem;
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 3rem;
    }
    .button {
        font-size: 2.5rem;
        text-transform: uppercase;
    }
}

/*********************** ************************/
/***************** MARGIN PADDING ***************/
/*********************** ************************/


/*********************** ************************/
/****************** FLEX SETTINGS ***************/
/*********************** ************************/

.flexCenterVertical {
    display: flex;
    align-items: center;
}

.flexCenterHorizontal {
    display: flex;
    justify-content: center;
}

.flexCenterColumn {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flexCenterCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexCenterCenterColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flexCenterAround {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flexCenterBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}